GOOGLE_APPLICATION_CREDENTIALS=./gcp-credentials.json
POLYGON_RPC_URL=https://rpc-amoy.polygon.technology/
DEPLOYER_PRIVATE_KEY=your_testnet_private_key_here
CONTRACT_ADDRESS=set_after_deploy
OFFICER_API_KEY=demo-officer-key-change-in-prod
